<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P11 Training Bugs</title>
    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/static/css/bootstrap/umd/popper.js"></script>
    <script src="/static/css/bootstrap/js/bootstrap.min.js"></script>
    <link href="/static/css/bootstrap/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container">
        <br />
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="text-center">
            <h1 class="display-4">Welcome to P11 Training Information System Project</h1>
            <p>It contains a number of coding bugs that you need to solve</p>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>
