<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Training - P11 Training Bugs</title>
    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/static/css/bootstrap/umd/popper.js"></script>
    <script src="/static/css/bootstrap/js/bootstrap.min.js"></script>
    <link href="/static/css/bootstrap/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container">
        <div class="my-3">
            <h2>Add Training</h2>
        </div>

        <form method="post" action="{{ url_for('training.training_add') }}">
            <div class="col-md-6 mb-3 form-floating">
                <select class="form-control dropdown" name="Subject" id="sbj">
                    <option class="col-sm-3" value="">-- SELECT --</option>
                    {% for subject in subjects %}
                        <option value="{{ subject.subject_id }}">{{ subject.name }}</option>
                    {% endfor %}
                </select>
                <label for="sbj">Subject :</label>
            </div>

            <div class="col-md-6 mb-3 form-floating">
                <select class="form-control dropdown" name="Trainer" id="trn">
                    <option class="col-sm-3" value="">-- SELECT --</option>
                    {% for trainer in trainers %}
                        <option value="{{ trainer.trainer_id }}">
                            {{ trainer.name }}
                        </option>
                    {% endfor %}
                </select>
                <label for="trn">Trainer :</label>
            </div>

            <div class="col-md-6 mb-3 form-floating">
                <input type="text" id="dts" name="Details" class="form-control" />
                <label for="dts">Details :</label>
            </div>

            <div class="col-md-6 mb-3 form-floating">
                <input type="date" id="dr" name="TrainingDate" class="form-control"
                       placeholder="YYYY-MM-DD" />
                <label for="dr">Date Of Training :</label>
            </div>

            <input type="submit" class="btn btn-primary" value="Create" />

            {% if message %}
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="alert alert-{{ message_type }}">
                            <b>Message: </b>{{ message }}<br />
                            {% if exec_sql %}
                                <b>SQL: </b>{{ exec_sql }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>

    {% include 'footer.html' %}
</body>
</html>